@import "global/variables.scss";

.page-header {
	display: flex;
	flex-direction: column;
	background-color: #242424;
	color: #ffffff;

		&__logo {
			height: 85px;

			@media (min-width: $tablet-width) {
				order: 2;
				height: 400px;
			}

			@media (min-width: $desktop-width) {
				height: 648px;
			}
		}
}