.page-header {
	display: flex;
	flex-direction: column;
	background-color: #242424;
	color: #ffffff;

	@media (min-width: $tablet-width) {
		background-color: #000;
	}

		&__logo {
			height: 85px;
			text-align: center;

			@media (min-width: $tablet-width) {
				order: 2;
				height: 400px;
				background-color: #000;
				background-image: url("../../img/bg-header.jpg");
				background-repeat: no-repeat;
				background-position: center -9px;

				//! Пример загрузки картинки для ретинового экрана 2х
				//@media (min-resolution: 2dppx) {
				//	background-image: url("../../img/bg-header@2x.png");
				//	background-size: 1338px auto;
				//}
			}

			@media (min-width: $desktop-width) {
				height: 648px;
				background-position: center 0;
				background-size: cover;
			}

			& img {
				width: 226px;
				height: 85px;

				@media (min-width: $desktop-width) {
					margin-top: 57px;
				}
			}
		}
}