.site-list {
	font-weight: bold;

	&__item {
		@media (min-width: $tablet-width) {
			margin-right: 32px;

			&:last-child {
				margin-right: 0;
			}

			&--active {
				position: relative;

				&::after {
					content: "";
					position: absolute;
					right: 0;
					bottom: 0;
					left: 0;
					height: 3px;
					background: #826550;
				}
			}
		}

		& a[href] {
			@media (min-width: $tablet-width) {
				&:hover {
					color: #826550;
					background-color: #000;
				}

				&:active {
					color: #fff;
					
					background-color: #000;
					opacity: 0.3;
				}
			}

			@media (min-width: $desktop-width) {
				&:hover {
					color: #000;

					background-color: #fff;
				}

				&:active {
					color: rgba($color: #000, $alpha: 0.3);

					background-color: #fff;
					opacity: 1;
				}
			}
		}
	}

	& a {
		position: relative;
		display: block;
		padding: 12px 21px;
		padding-bottom: 13px;
		font-size: 18px;
		line-height: 24px;
		color: #fff;
		text-transform: uppercase;
		text-decoration: none;
		background-color: #826550;
		border-top: 1px solid #886e5b;
		border-bottom: 1px solid #71543f;
		
		@media (min-width: $tablet-width) {
			background: none;
			border: none;

			padding: 25px 0 23px 0;
		}

		@media (min-width: $desktop-width) {
			padding-right: 31px;
			padding-left: 31px;
		}
	}

	@media (min-width: $tablet-width) {
		display: flex;
		flex-wrap: wrap;
		justify-content: flex-start;
		width: 100%;
	}
	
	@media (min-width: $desktop-width) {
		width: 100%;
	}
}