.stats {
	background-color: $darkgrey;
	color: #ffffff;

	 @media (min-width:$tablet-width) {
		padding: 0 64px;;
	}

	@media (min-width:$desktop-width) {
		margin: auto;
		max-width: 960px;
		display: grid;
		grid-template-columns: 1fr 2fr;
	}

		&__header {
			background-color: #fff;
			color: #000;
		}

		&__slogan {
			margin: 0;
		}

		&__intro {
			margin: 0;
		}

		&__legend {
			margin: 0;

			&--top {
				@media (max-width:$mobile-width-only) {
					display: none;
				}
			}

			&--bottom {
				@media (min-width:$tablet-width) {
					display: none;
				}
			}
		}

		&__list {
			margin: 0;
		}
}