.user-list {

	@media (min-width: $tablet-width) {
		width: 60px;
		height: 70px;
		padding: 0;

		span {
			position: absolute;
			opacity: 0;
		}

		&:hover .user-list__login-icon {
			opacity: 1;

			polygon {
				fill: #826550;
			}
		}

		&:active .user-list__login-icon {
			opacity: 0.3;

			polygon {
				fill: #fff;
			}
		}
	}

	@media (min-width: $desktop-width) {
		position: relative;

		width: auto;
		height: auto;
		padding-top: 25px;
		padding-right: 30px;
		padding-bottom: 23px;
		padding-left: 50px;

		font-size: 18px;
		line-height: 24px;
		font-weight: bold;
		text-transform: uppercase;
		text-decoration: none;

		&:hover {
			columns: #000;

			background-color: #fff;
		}

		&:active {
			color: rgba(0, 0, 0, 0.3);

			background-color: #fff;
		}

		&:hover .user-list__login-icon {
			opacity: 0.3;

			polygon {
				fill: #000;
			}
		}

		&:active .user-list__login-icon {
			opacity: 0.1;
		}
	}

	&__login {
		position: relative;
		display: block;
		padding: 17px 21px;
		padding-left: 49px;
		line-height: 18px;
		color: #fff;
		text-decoration: none;

		@media (min-width: $desktop-width) {
			padding: 0;
		}
	}

	&__login-icon {
		position: absolute;
		top: 17px;
		left: 21px;
		width: 16px;
		height: 16px;
		opacity: 0.3;
		fill: #fff;

		@media (min-width: $tablet-width) {
			top: 29px;
			left: 12px;
		}

		@media (min-width: $desktop-width) {
			top: 5px;
			left: -40px;
		}
	}
}